<table>
  <tr>
    <th>commenter</th>
    <th>comment</th>
    <th>status</th>
  </tr>
    <tr>
      <td><%= @comment.commenter %></td>
      <td><%= @comment.body %></td>
      <td><%= @comment.status %></td>
        </tr>
</table>

<p>
  <%= link_to 'Destroy Comment', [@comment.article, @comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p> 
